* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    font-weight: 700;
    font-size: 20px;
    color: aliceblue;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    Weight: 800;
    Size: 45px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* banner styles */
.banner{
    margin: 0 200px;
    display: flex;
   align-items: center;
}
.banner-title{
    font-weight: 650;
font-size: 70px;
Line height:115.75px;

}
.banner-subtitle{
    font-weight: 600;
font-size: 45px;
}
.banner-des{
    font-weight: 400;
font-size: 18px;
color: #757575;
margin-bottom: 30px;

}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */
.about{
    margin-top: 130px;
    background: #FFF8F3;
border-radius: 10px;
text-align: center;


}
.section-title{
   
    font-weight: 700;
font-size: 35px;
color: #181818;

}
.section-des{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
font-size: 18px;
line-height: 30px;



color: #757575;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 131px;
}
.info-title{
    color: #757575;
    font-weight: 400;
    font-size: 20px;

}
.info-des{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}